$fatBgColor: #FFF; //fatFooter 底色
$fatTextColor: #FFF; //fatFooter 連結顏色
.fatfooter {
    // @include make-fatfooter(7, 100%); 如需要手機版顯示，把以下註解即可，或改為visible
    @media (max-width: 767px) {
        display: none;
    }
}
.fatfooter {
    overflow: hidden;
    position: relative;
    padding-bottom: 2em;
    margin-left: auto;
    margin-right: auto; // 右上方切換收合按鈕設定
    background: #545454;
    .container {
        position: relative;
        overflow:hidden;
        @include box-sizing();
        @include gutter();
    } //fatfooter選單
    .btn-fatfooter {
        font-size: 1.25em;
        line-height: 2.2;
        font-weight: bold;
        cursor: pointer;
        display: inline-block;
        width: 80px;
        color: #FFF;
        border: none;
        // background: $primaryColor;
        position: absolute;
        right: 50%;
        // z-index: 999;
        z-index: 96;
        background: none;
        box-shadow: none;
        @include border-radius(4px);
        &:hover,
        &:focus {
            background: $primaryColor;
            color: #fff;
            text-decoration: none;
            cursor: pointer;
            border: none;
        }

        // 2022-0209 無障礙
        b{ font-size: 0; }
    }
    nav {
        clear: both;
        color: #fff;
        overflow: hidden;
        display: block;
        position: relative;
        padding-top: 4em;
        @include box-sizing(border-box);
        ul {
            list-style: none;
            margin: 0;
            overflow: hidden;
            width: 100%;
            padding: 0;
            @media (max-width: 767px) {
                width: 100%;
                display: block;
                margin: 0px auto;
            }
            li {
                display: inline-block; // outline: 1px solid red;
                text-align: left;
                vertical-align: top;
                line-height: 2.6em; // margin:$fatFooterliMargin;
                width: 13.88%;
                font-size: 120%;
                @include box-sizing(border-box);
                @media (max-width: 1200px) { width: 23%; }
                @media (max-width: 767px) { display:block; }
                a {
                    color: $fatTextColor;
                    text-align: left;
                    line-height: 1.65em;
                    display: block;
                    font-weight: 800;
                    padding: 1% 5%;
                    border-bottom: dotted 1px rgba(255,255,255,.5);
                    &:hover,
                    &:focus {
                        color: #fff;
                        text-decoration: none;
                        background: $primaryColor;
                        @include border-radius(3px);
                    }
                }
                ul {
                    padding: 0;
                    margin-top: 5px;
                    overflow: hidden;

                    // 預設先關閉
                    display: none;
                    
                    @media (max-width: 767px) {
                        width:auto;
                        padding-left: 5%;
                    }
                    li {
                        display: block;
                        margin: 0;
                        padding: 5px 0;
                        border: none;
                        background: none;
                        width: 100%;
                        font-size: 80%;
                        a {
                            display: block;
                            color: lighten($fatTextColor, 10);
                            font-weight: normal;
                            text-align: left;
                            text-decoration: none;
                            font-size: 110%;
                            font-weight: normal;
                            line-height: 1.4em;
                            padding: 3px 8px;
                            background: none;
                            @include box-sizing(border-box);
                            border-bottom: none;
                        }
                    }
                    ul {
                        display: none; //第三層關閉
                    }
                }
            }
        }
    }
}
