// 自動產生編號：https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Lists_and_Counters/Using_CSS_counters
.np {
    ul,ol {
        padding: 1em 0;
        margin: 0;
        overflow:hidden;
        list-style: none;

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

    }
    li {
        // display: block;
        // width: 49%;
        // margin: 0 1% 10px 0;
        // float: left;

        flex: 0 0 49.5%;
        margin-bottom: 10px;

        border: 2px solid #DDD;
        @include border-radius(4px);
        &:hover,
        &:focus { border: 2px solid $primaryColor; }

        @include box-sizing(border-box);
        &:nth-child(even) {
        	width: 50%;
            margin-right: 0px;
        }

        a {
            padding: 1em 1em 1em 2.4em;
            display: block;
            vertical-align: top;
            text-decoration: none;
            // @include text-overflow;
            position:relative;
            // &:before{
            //     content: "";
            //     display: inline-block;
            //     width: 16px;
            //     height: 16px;
            //     border-radius: 50%;
            //     background: #000;
            //     margin-right: .5;
            //     // border-top: solid 2px #000;
            //     // border-right: solid 2px #000;
            //     // transform: rotate(45deg);
            // }
            .num{
                position: absolute;
                width:1em;
                top: 1em;
                left: .5em;
                text-align: right;
                &:after{
                    content:".";
                    display:inline-block;
                }
            }
            i{
                font-size: .65em;
                text-align: center;
                background: $primaryColor;
                border-radius: 50%;
                color: #fff;
                // margin-right: 10px;
                margin-left: -30px;
                // display: inline-block;

                position: absolute;
                width: 24px;
                height: 24px;
            }
        }

        @include screen('mobile') {
            flex: 1 1 auto;
            flex-basis: calc(100% - 4px);

            // float:none;
            // width: 96%;
            // margin:0px auto 10px;
            &:nth-child(even){
                // width: 96%;
                // margin-right: auto;
            }
        }

    }
}
